
body {
  background-color: pink;
}
.titleetc {
  display:grid;
  grid-template-columns: 0px  1fr ;
  
  
}
.Title {
  
  margin-left:190px;
  font-size:xx-large;
  color:rgb(101, 8, 224);
  text-align: center;

margin-top:none;
margin-right: 500px;
margin-left: 340px;
margin-bottom:none;
}
.Title, .whatDoWeDo,.whatwedois {
  font-family:cursive;
}
.whatDoWeDo {
  font-size:larger;
}
.whatwedois {
  width:500px;
}
.meow {
  width:150px;
  
  margin-top:none;
  margin-left:none;
  vertical-align: left;
  object-fit:cover;
  
}
.theimage {
  margin-left: 70px;
}